#keyboard-container {
    height: 200px;
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }
  
  .keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 40px;
    cursor: pointer;
    background-color: rgb(40, 41, 41);
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
  }
  
  .keyboard-row button.wide-button {
    flex-grow: 1.5;
  }
  
  .spacer-half {
    flex-grow: 0.5;
  }