html,
body{
    background: var(--myBackground);
}

p.beginner{
    color: green;
    place-content: center;
    font-size:larger;
}

p.intermediate{
    color: orange;
    place-content: center;
    font-size:larger;
}

a{
    color: rgb(69, 69, 199);
}

div .header{
font-weight: bold;
color: #1c201b;
}

:root{
    --myBackground: rgb(233, 224, 224);
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
}