body {
  background-color: black;
  text-align: center;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 36px;
}

div {
  height: 100vh;
  float: left;
  margin: 0px;
}

div#gameProperties {
  background-color: aquamarine;
  width: 10%;
}

div#opponent1Section {
  background-color: green;
  width: 22.5%;
}
div#opponent2Section {
  background-color: rgb(23, 59, 23);
  width: 22.5%;
}

div#mySection {
  background-color: darkgreen;
  width: 45%;
}

#heading {
  color: red;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

#Get {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 17px;
  background: lightgray;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

#psection {
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
