<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/SRC/Public/Styles/aboutPage.css">
</head>

<div class="topnav">
    <link rel="stylesheet" type="text/css" href="/SRC/Public/Styles/aboutPage.css">
    <a href="home">Home</a>
    <a href="update">Update Info</a>
    <a href="rules">Rules</a>
    <a class="active" href="/SRC/Public/Styles/aboutPage.css">About Us</a>
    <a href="/">Logout</a>
  </div>

<body>
    <div id="briefIntro">
        <h1 style="text-align:center;" class="header"><strong>This is the <em>About Us</em> page</strong></h1>

        <p class="authors">This website is developed by the following individuals:</p>

        <ul class="members">
            <li>James Zungunde</li>
            <li>Stallon Matindike</li>
            <li>Sandile Kunene</li>
            <li>Qhamani Mqwebedu</li>
            <li>Mhlengeni Miya</li>
        </ul>
        <p class="description">The development of this website forms part of assessment for Software Development 
            III at the University of the Witwatersrand, School of Electrical and Information Engineering. <br>
        </p>

        <p class="history" cite="https://en.wikipedia.org/wiki/Wordle">Since 2022, The New York Times Company has owned and published Wordle, a web-based word game conceived 
            and developed by Welsh software programmer Josh Wardle. Players get six chances to guess a five-letter 
            word, with colored tiles showing when letters match or occupy the correct location providing feedback for 
            each guess. The game's mechanics are substantially identical to those of Jotto, a 1955 pen-and-paper game, 
            and Lingo, a television game show series. With all players competing to guess the same word, Wordle has a 
            single daily solution.</p>
    </div>
</body>
</html>