<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beginner Level</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0,user-scalable=no"
    />
    <link rel="stylesheet" href="/SRC/Public/Styles/beginnerLevel.css" />
    <link rel="stylesheet" href="/SRC/Public/Styles/keyboard.css">
   
  </head>

  <body>
    <h1 id="mode">Single Player Mode - Beginner Level</h1>
    <hr />
    <br />
    <div class="gameBoard"></div>
    <div class="keyboard"></div>
    <div class ="Message"></div>
    <div class ="Hint"></div>
    <script src="/SRC/Public/Scripts/beginnerLlevel.js"></script>
    <script src="/SRC/Public/Scripts/keyboard.js"></script>
  </body>
</html>