<div class="topnav">
    <link rel="stylesheet" type="text/css" href="/SRC/Public/Styles/home.css">
    <a class="active" href="home">Home</a>
    <a href="update">Update Info</a>
    <a href="#rules">Rules</a>
  </div>
  <div class="header">
    <link rel="stylesheet" type="text/css" href="/SRC/Public/Styles/home.css">
    <h1><strong>Play Wordle</strong></h1>
    <img src="/SRC/Public/images/Wordle_196_example.svg.png" alt="Wordle" width="500" height="500">
    <br><br>
    <div class="one"></div>
    <div class="two">
    <a href="singlePlayer">
    <button name="loginButton" id="loginButton">Single player</button>
    </a>
    <a href="multiPlayer">
    <button name="loginButton" id="loginButton">Multiplayer</button>
    </a>
    </div>
  </div>
  