<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Intermediate Level</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0,user-scalable=no"
    />
    <link rel="stylesheet" href="intermediateLevel.css" />
    <link rel="stylesheet" href="keyboard.css">
   
  </head>

  <body>
    <h1 id="mode">Single Player Mode - Intermediate Level</h1>
    <hr />
    <br />
    <div class="gameBoard"></div>
    <div class="keyboard"></div>
    <div class ="Message"></div>
    <div class ="Hint"></div>
    <div class ="Hint1"></div>
    <script src="intermediateLevel.js"></script>
    <script src="keyboard.js"></script>
  </body>
</html>