<div class="topnav">
    <link rel="stylesheet" type="text/css" href="/SRC/Public/Styles/landing.css">
    <a href="login">Login</a>
    <a href="register">Create Account</a>
    <a href="#rules">Rules</a>
  </div>
  <div class="header">
    <link rel="stylesheet" type="text/css" href="/SRC/Public/Styles/landing.css">
    <h1><strong> Welcome To The Wordle Game</strong></h1>
    <h2>The rules are very simple: You need to guess the hidden 5 letter word in 6 tries. To get started, just type any word on the first line. If the letter is guessed correctly and is in the correct place, it will be highlighted in green, if the letter is in the word, but in the wrong place - in yellow, and if the letter is not in the word, it will remain gray. Can you guess the hidden word in 6 tries?</h2>
    <br><br>
    <div class="one"></div>
    <div class="two">
    </div>
  </div>
  <div class="row">
    <div class="column1">
      <h1 class="text-center"><strong>Don't have an account?</strong></h1>
      <h2>Create an account and enjoy the wordle game with additional features such as multiplayer and much more...</h2>
      <a href="register">
      <button name="loginButton" id="loginButton">Create Account</button>
    </a>
      <br><br>
      <br><br>
    </div>
    <div class="column2">
      <h1 class="text-center"><strong>Already have an account?</strong></h1>
      <h2>Login to enjoy the wordle game with additional features such as multiplayer and much more...</h2>
      <a href="login">
      <button name="loginButton" id="loginButton">Login</button>
    </a>
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="header2">
    <link rel="stylesheet" type="text/css" href="..\CSS\home.css">
    <h1><strong>Play A Quick Wordle Game</strong></h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Wordle_196_example.svg/1200px-Wordle_196_example.svg.png" alt="Wordle" width="500" height="500">
    <br><br>
    <div class="one"></div>
    <div class="two">
      <a href="singlePlayer">
    <button name="loginButton" id="loginButton">Quick Game</button>
  </a>
    </div>
  </div>