<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Levels</title>
    <link rel="stylesheet" href="SRC/Public/Styles/levelsPage.css">
</head>
<body>
    <div id="briefIntro">
        <h1 class="header"><strong>Choose the game level you want to play by clicking on one of the links below.</strong></h1>
        <p>Click <a href="SRC/Views/beginnerLevel.html">here</a> to play a beginner level. <br></p>
    </div>
</body>
</html>