<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Competitive Wordle G6</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0,user-scalable=no"
    />
    <link rel="stylesheet" href="/SRC/Public/Styles/lobby.css" />
  </head>

  <body>
    <h1 id="title">Game Lobby</h1>
    <hr />
    <br />
    <p>
      Welcome to the lobby! Here you can inivite other players, accept player
      requests, set the type of multiplayer mode game and decide on the number
      of players you want to be involved in the game
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="button-wrapper">
      <a href="singlePlayer">
        <button id="Button">Create Meeting ID</button>
      </a>
      <br />
      <br />
      <label id="playerNum">Number of Players:</label><br />
      <input input="number" id "Players">
      <button type="button" id="myButton">Submit</button>
      <br />
      <br />
      <a href="multiPlayer">
        <button id="Button">Game Room</button>
      </a>
    </div>
  </body>
</html>
