<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Competitive Wordle G6</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0,user-scalable=no"
    />
    <link rel="stylesheet" href="/SRC/Public/Styles/lobby.css" />
  </head>

  <body>
    <h1 id="title">Game Lobby</h1>
    <hr />
    <br />
    <p>
      Welcome to the lobby! Here you can invite other players, accept player
      requests, set the type of multiplayer mode game and decide on the number
      of players you want to be involved in the game
    </p>
    <br />
    <br />
    <br />
    <div class="button-wrapper">
      <a href="">
        <button id="Button">Create Meeting ID</button>
      </a>
      <br />
      <h1>Game Setup</h1>

      <label id="playerNum">Number of players</label><br />
      <br />
      <input input="number" id="Players" />
      <button type="button" id="myButton">Submit</button>
      <br />
      <br />
      <br />
      <label id="playerNum">Multiplayer Mode</label><br />
      <br />
      <br />
      <a href="">
        <button id="Button">Mode1</button>
      </a>
      <a href="">
        <button id="Button">Mode2</button>
      </a>
    </div>
    <script src="/SRC/Public/Scripts/gameLobby.js"></script>
  </body>
</html>
