<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Competitive Wordle G6</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0,user-scalable=no"
    />
    <link rel="stylesheet" href="/SRC/Public/Styles/Hosting.css" />
  </head>

  <body>
    <h1 id="title">Multi-Player-Mode</h1>
    <hr />
    <br />
    <p>
      Welcome to the Multi Player Mode of Competive Wordle, Click "Host", to
      host a game for multiple players or "Join" to join a game hosted by
      another player.
    </p>
    <br />

    <div class="button-wrapper">
      <a href="Hosting">
        <button id="Button">Host</button>
      </a>
      <button id="idButton">Join</button>
    </div>
    <script src="/SRC/Public/Scripts/multiPlayer.js"></script>
  </body>
</html>
