<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Competitive Wordle G6</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0,user-scalable=no"
    />
    <link rel="stylesheet" href="/SRC/Public/Styles/multiPlayerModes.css" />
    <link rel="stylesheet" href="/SRC/Public/Styles/singlePlayer.css" />
    <link rel="stylesheet" href="/SRC/Public/Styles/keyboard.css" />
    <script
      type="module"
      src="/SRC/Public/Scripts/multiPlayerMode1.js"
    ></script>

    <style>
      .gameBoard {
        margin-left: 16rem;
      }

      .keyboard {
        margin-left: 15.8rem;
        margin-bottom: 10em;
      }
    </style>
  </head>

  <body>
    <h1 id="title">Multi-Player Mode 1</h1>
    <div id="gameProperties" class="InforSection">
      <button id="Get">PROPERTIES</button>
      <p id="gameMode">GAME MODE</p>
      <p id="gameID">GAME ID</p>
      <p id="PlayerNo">MAX No. OF PLAYERS</p>
    </div>
    <div class="column" id="opponentSections">
      <p id="psection">OPPONENT 1</p>
    </div>

    <div class="column" id="mySection">
      <p id="psection">MY SECTION</p>
      <br />
      <br />
      <center>
        <div class="gameBoard"></div>
        <div class="keyboard"></div>
      </center>
    </div>

    <div class="column" id="opponentSections">
      <p id="psection">OPPONENT 2</p>
    </div>

    <script src="/SRC/Public/Scripts/singlePlayer.js"></script>
    <script src="/SRC/Public/Scripts/keyboard.js"></script>
  </body>
</html>
