<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Competitive Wordle G6</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0,user-scalable=no"
    />
    <link rel="stylesheet" href="/SRC/Public/Styles/multiPlayerModes.css" />
    <script
      type="module"
      src="/SRC/Public/Scripts/multiPlayerMode1.js"
    ></script>
    <script defer src="/SRC/Public/Scripts/timer.js"></script>
  </head>

  <body>
    <h1 id="title">Multi-Player Mode 1</h1>
<section>
  <div class="container">
    <h2 style="color: white;">00:00</h2>
  </div>
</section>
    <div id="gameProperties">
      <button id="Get">PROPERTIES</button>
      <p id="gameMode">GAME MODE</p>
      <p id="gameID">GAME ID</p>
      <p id="PlayerNo">MAX No. OF PLAYERS</p>
    </div>
  </body>
</html>
