<!DOCTYPE html>
<html>
    <head>
      <title>Game Rules</title>
    </head>
    <div class="topnav">
      <link rel="stylesheet" type="text/css" href="/SRC/Public/Styles/rules.css">
      <a href="home">Home</a>
      <a href="update">Update Info</a>
      <a class="active" href="rules">Rules</a>
    </div>
    <body>
      <div class = "header">
        <h1><strong>Wordle Game Rules</strong></h1><br>

      <blockquote cite="https://www.tomsguide.com/news/what-is-wordle">
        Wordle is an online game in which you have six 
        chances to guess a five-letter word. Here are the 
        rules of playing the game: <br>
      </blockquote>
      
      <h3>Game rules for a single player mode:</h3>

      <ul>
        <li>You have to guess the Wordle in six goes or less</li>
        <li>A correct letter turns green when it's in the correct position</li>
        <li>A correct letter in the wrong place turns yellow</li>
        <li>An incorrect letter turns gray</li>
        <li>The ends after the six chances have been exhausted</li>
        <li>When all the letters of the word are turned green, the guessed word is correct</li>
      </ul>

      <h3>Game rules for a multi-player mode:</h3>
      <ul><em>Coming soon...</em></ul>
      </div>
    </body>
</html>