<!DOCTYPE html>
<html lang="en">

<head>
  <title>Competitive Wordle G6</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=0,user-scalable=no" />
  <link rel="stylesheet" href="/SRC/Public/Styles/singlePlayer.css" />
  <script src="/SRC/Public/Scripts/singlePlayer.js"></script>
  <link rel="stylesheet" href="/SRC/Public/Styles/keyboard.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <h1 id="mode">Single Player Mode</h1>
  <hr />
  <br />
  <section>
      <div class="container">
      <h2>00:30</h2>
  </div>
  </section>


  <br>
  <div id="gameBoard"></div>
  <h1 id="correctWord"></h1>
  <textarea class="use-keyboard-input" style="position: absolute; top: 130px; right: 30px; width: 300px;"></textarea>
  <script src="/SRC/Public/Scripts/keyboard.js"></script>
  <script defer src="/SRC/Public/Scripts/timers.js"></script>
</body>

</html>