<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Competitive Wordle G6</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0,user-scalable=no"
    />
    <link rel="stylesheet" href="/SRC/Public/Styles/singlePlayer.css" />
    <script src="/SRC/Public/Scripts/singlePlayer.js"></script>
  </head>

  <body>
    <h1 id="mode">Single Player Mode</h1>
    <hr />
    <br />
    <div id="gameBoard"></div>
    <h1 id="correctWord"></h1>
  </body>
</html>
